*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
   
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: black;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.nav-section{
    position: sticky;
    top: 0px;
    z-index: 1;
}


.left_sectoin{
    width: 15%;
    height: 80vh;
    background-color: rgb(50, 50, 66);
    border-radius: 10px;
    position: sticky !important;
    top: 79px;
  
}

.post_sectoin{
    width: calc(100% - 30%);
    border-radius: 10px;
    padding: 10px;
}

.right_sectoin{
    width: 15%;
    height: 80vh;
    background-color: rgb(50, 50, 66);
    border-radius: 10px;
}
